.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;  // Dodane tutaj dla spójności
  }
  
  .carousel-inner,
  .carousel-item {
    height: 100vh;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
    